:root {
    --body-font: "Work Sans", sans-serif;
    --logo-font: "Libertinus Serif", serif;
    --border-radius: 20px;
    --body-color: #393a43;
    --red-color: #a02023;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main {
    min-height: 100vh;
    background: #393A43;
    background: linear-gradient(45deg, rgba(42, 43, 52, 1) 0%, rgba(129, 130, 147, 1) 100%);
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
/*    overflow-y: scroll;*/
/*    overflow-x: hidden;*/
    z-index: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 5vw;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:  0 0 var(--border-radius) var(--border-radius);
    font-family: "Libertinus Serif", serif;
    font-weight: 600;
    font-style: normal;
    transition: 0.3s;
/*    background-color: red;*/
}

.nav_container {
/*    background-color: #1f62109e;*/
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(30px);
}

.nav_container .nav_menu {
/*    background-color: greenyellow;*/
    margin: 0;
    padding: 0;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
}

.nav_container .nav_menu .nav_list {
/*    background-color: blueviolet;*/
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 0 0 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav_container .nav_menu .nav_list li {
/*    background-color: rebeccapurple;*/
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav_container .nav_menu .nav_list li a {
/*    background-color: #32a441;*/
    margin: 0;
    padding: 15px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    font-size: clamp(0.6rem, 0.35rem + 0.8vw, 1.1rem);
    font-weight: 300;
    transition: 0.3s;
}

.nav_container .nav_menu .nav_list li a:hover {
    background-color: var(--red-color);
}

.nav_container .nav_menu .nav_list li a i {
    display: none;
}

.nav_container .logo {
    position: fixed;
    top: 0;
    left: 5vw;
    background-color: var(--red-color);
    height: 12vw;
    width: 11.1vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center:
    justify-content: center;
    flex-direction: column;
    transition: 0.4s;
    z-index: 1000;
}

.nav_container .logo a {
    text-decoration: none;
/*    background-color: rgba(255, 255, 255, 0.3);*/
    max-width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center:
    justify-content: center;
    font-size: clamp(0.5rem, -0.075rem + 1.84vw, 1.65rem);
    color: white;
    line-height: 1.5vw;
    cursor: pointer;
    transition: 0.4s;
}

.nav_container .logo a:first-child {
/*    background-color: red;*/
    align-items: flex-end;
    margin: 6.5vw 0 0 0;
    padding: 0;
}

.nav_container .logo a:last-child {
/*    background-color: red;*/
    align-items: flex-end;
    margin: 0 0 2.5vw 0;
    padding: 0;
}

.nav_container .logo:hover {
    height: 15vw;
    box-shadow:  0px 15px 15px 0.7px rgba(63, 46, 46, 0.5);
}

.nav_container .logo:hover a:first-child {
    margin: 9.5vw 0 0 0;
}


@media screen and (max-width: 990px) {

    .header {
/*        background-color: red;*/
        height: 10vw;
        border-color: transparent;
    }

    .nav_container .nav_menu {
        position: fixed;
        top: 10vw;
        left: 0;
/*        background-color: greenyellow;*/
        margin: 0.5px 0 0 0;
        padding: 0;
        height: calc(100vh - 5vw);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Work Sans", sans-serif;
    }

    .nav_container .nav_menu .nav_list  {
        padding: 0;
        margin: 0;
        width: 100%;
        height: calc(100vh - 5vw);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #ffffff;
        transform: translateY(-90vw);
        transition: 0.3s;
        opacity: 0;
    }

   .nav_active .nav_container .nav_menu .nav_list  {
        transform: translateY(0);
        opacity: 1;
    }

    .nav_container .nav_menu .nav_list li {
/*        background-color: rebeccapurple;*/
        height: 12%;
        width: 90%;
        padding: 0;
        margin: 1vh 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav_container .nav_menu .nav_list li a {
/*        background-color: #32a441;*/
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(0, 0, 0, 1);
        font-size:  1.5rem;
        font-weight: 300;
        transition: 0.3s;
    }

    .nav_container .nav_menu .nav_list li a:hover {
        background-color: transparent;
    }

   .nav_container .nav_menu .nav_list li a span {
/*        background-color: red;*/
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(129, 130, 147, 0.5);
    }

    .nav_container .nav_menu .nav_list li a i {
        display: inline-block;
        color: rgba(129, 130, 147, 0.5);
    }

    .nav_container .logo {
        height: 17vw;
        width: 17vw;
        gap: 1px;
    }

    .nav_container .logo a {
/*        background-color: rgba(255, 255, 255, 0.3);*/
        font-size: clamp(1.1rem, -0.0471rem + 2.8235vw, 1.7rem);
        line-height: 1vw;
    }

    .nav_container .logo a:first-child {
    /*    background-color: red;*/
        margin: 8.5vw 0 0 0;
    }

    .nav_container .logo a:last-child {
    /*    background-color: red;*/
        align-items: flex-end;
        margin: 0 0 3.5vw 0;
        padding: 0;
    }

    .nav_container .logo:hover {
        height: 20vw;
    }

    .nav_container .logo:hover a:first-child {
        margin: 11.5vw 0 0 0;
    }

    .nav_active header {
        background-color: white;
    }

    .nav_icon {
        position: absolute;
        top: 3.2vw;
        right: 5vw;
        width: 4.2vw;
        height: 3.2vw;
        cursor: pointer;
    }

    .nav_icon span {
        position: absolute;
        width: 50%;
        height: 0.3vw;
        background-color: white;
        transition: all 0.25s ease-in-out;
    }

   .nav_active .nav_icon span {
        background-color: var(--red-color);
    }

    .nav_icon span:nth-child(odd) {
        left: 0;
        border-radius: 9px 0 0 9px ;
    }

    .nav_icon span:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
    }

    .nav_icon span:nth-child(1),
    .nav_icon span:nth-child(2) {
        top: 0;
    }

    .nav_icon span:nth-child(3),
    .nav_icon span:nth-child(4) {
        top: 1.4vw;
    }

    .nav_icon span:nth-child(5),
    .nav_icon span:nth-child(6) {
        top: 2.8vw;
    }

    .nav_active .nav_icon span:nth-child(1),
    .nav_active .nav_icon span:nth-child(6) {
        transform: rotate(45deg);
    }

    .nav_active .nav_icon span:nth-child(2),
    .nav_active .nav_icon span:nth-child(5) {
        transform: rotate(-45deg);
    }

    .nav_active .nav_icon span:nth-child(1) {
        top: 0.8vw;
        left: 0.15vw;
    }

    .nav_active .nav_icon span:nth-child(2) {
        top: 0.8vw;
        left: calc(50% - 0.65vw);
    }

    .nav_active .nav_icon span:nth-child(3) {
        left: -100%;
        opacity: 0;
    }

    .nav_active .nav_icon span:nth-child(4) {
        left: 150%;
        opacity: 0;
    }

    .nav_active .nav_icon span:nth-child(5) {
        top: 2.2vw;
        left: 0.15vw;
    }

    .nav_active .nav_icon span:nth-child(6) {
        top: 2.2vw;
        left: calc(50% - 0.65vw);
    }

}













