:root {
/*    --body-font: "Work Sans", sans-serif;*/
    --body-font: "Libertinus Serif", serif;
    --border-radius: 20px;
    --body-color: #393a43;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main {
    min-height: 100vh;
    background: #393A43;
    background: linear-gradient(45deg, rgba(42, 43, 52, 1) 0%, rgba(129, 130, 147, 1) 100%);
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
/*    overflow-y: scroll;*/
/*    overflow-x: hidden;*/
    z-index: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 5vw;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:  0 0 var(--border-radius) var(--border-radius);
    font-family: "Libertinus Serif", serif;
    font-weight: 600;
    font-style: normal;
/*    background-color: red;*/
}

.nav_container {
/*    background-color: #1f62109e;*/
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(30px);
}

.nav_container .nav_menu {
/*    background-color: greenyellow;*/
    margin: 0;
    padding: 0;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
}

.nav_container .nav_menu .nav_list {
/*    background-color: blueviolet;*/
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 0 0 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav_container .nav_menu .nav_list li {
/*    background-color: rebeccapurple;*/
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav_container .nav_menu .nav_list li a {
/*    background-color: #32a441;*/
    margin: 0;
    padding: 15px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    font-size: clamp(0.6rem, 0.35rem + 0.8vw, 1.1rem);
    font-weight: 300;
    transition: 0.3s;
}

.nav_container .nav_menu .nav_list li a:hover {
    background-color: #a02023;
    opacity: 1;
}

.nav_container .nav_menu .nav_list li a i {
    display: none;
}

.nav_container .logo {
    position: fixed;
    top: 0;
    left: 5vw;
    background-color: #a02023;
    height: 12vw;
    width: 11.1vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center:
    justify-content: center;
    flex-direction: column;
    transition: 0.4s;
}

.nav_container .logo a {
    text-decoration: none;
/*    background-color: rgba(255, 255, 255, 0.3);*/
    max-width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center:
    justify-content: center;
    font-size: clamp(0.5rem, -0.075rem + 1.84vw, 1.65rem);
    color: white;
    line-height: 1.5vw;
    cursor: pointer;
    transition: 0.4s;
}

.nav_container .logo a:first-child {
/*    background-color: red;*/
    align-items: flex-end;
    margin: 6.5vw 0 0 0;
    padding: 0;
}

.nav_container .logo a:last-child {
/*    background-color: red;*/
    align-items: flex-end;
    margin: 0 0 2.5vw 0;
    padding: 0;
}

.nav_container .logo:hover {
    height: 15vw;
    box-shadow:  0px 15px 15px 0.7px rgba(63, 46, 46, 0.5);
}

.nav_container .logo:hover a:first-child {
    margin: 9.5vw 0 0 0;
}









