{% extends 'main/layout.html' %}

{% block title %}Home{% endblock %}


{% block content %}

<div class="booking">
    <div class="gradient">
         <div class="wrapper">
             <p class="booking_text">Профессиональная юридическая помощь для
                 <span>бизнеса</span> и <span>физических лиц</span>
             </p>
             <button class="booking_submit" type="submit">Записаться на консультацию</button>
         </div>
    </div>

</div>

<div class="statistics">
    <div class="statistics_wrapper">
        <div class="heading">
            <p>О нас</p>
        </div>
        <ul>
            <li id="1">
                <div class="text_number">
                    <p class="number">35</p>
                    <p class="text">лет</p>
                </div>
                <div class="description">
                    <p>представляем интересы российских и международных компаний</p>
                </div>
            </li>
            <li id="2">
                <div class="text_number">
                    <p class="number">2</p>
                    <p class="text">офиса</p>
                </div>
                <div class="description">
                    <p>в Ставрополе и Лос-Анджелесе</p>
                </div>
            </li>
            <li id="3">
                <div class="text_number">
                    <p class="number">100</p>
                    <p class="text"></p>
                </div>
                <div class="description">
                    <p>квалифицированных юристов</p>
                </div>
            </li>
            <li id="4">
                <div class="text_number">
                    <p class="number">26</p>
                    <p class="text"></p>
                </div>
                <div class="description">
                    <p>партнеров</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="directions">
    <div class="directions_wrapper">
        <div class="heading">
            <p id="card_header">Направления деятельности</p>
        </div>
        <ul>
            <li id="card_1">
                <div class="card">
                    <i class="fa-solid fa-briefcase" id="icon_1"></i>
                    <i class="fa-solid fa-handshake" id="icon_handshake"></i>
                    <p class="direction">Юридическое сопровождение бизнеса и отдельных проектов</p>
                </div>
            </li>
            <li id="card_2">
                <div class="card">
<!--                    <i class="fa-solid fa-clipboard-check"></i>-->
                    <i class="fa-solid fa-gavel" id="icon_2"></i>
                    <p class="direction">Налоговые споры и сопровождение проверок</p>
                </div>
            </li>
            <li id="card_3">
                <div class="card">
                    <i class="fa-solid fa-hand-holding-dollar" id="icon_3"></i>
                    <i class="fa-solid fa-dollar-sign" id="icon_dollar"></i>
                    <p class="direction">Взыскание долгов, банкротство юридических лиц</p>
                </div>
            </li>
            <li id="card_4">
                <div class="card">
                    <i class="fa-solid fa-house-flag" id="icon_4"></i>
                    <i class="fa-solid fa-check" id="icon_check"></i>
<!--                    <i class="fa-solid fa-circle-check"></i>-->
                    <p class="direction">Сопровождение сделок с недвижимостью и разрешение споров</p>
                </div>
            </li>
            <li id="card_5">
                <div class="card">
<!--                    <i class="fa-solid fa-signature"></i>-->
                    <div class="hover_icons">
                        <i class="fa-solid fa-copyright" id="icon_5_C"></i>
                        <i class="fa-solid fa-registered" id="icon_5_R"></i>
                        <i class="fa-solid fa-trademark" id="icon_5_TM"></i>
                    </div>
                    <p class="direction">Регистрация товарных знаков, наименований и слоганов</p>
                </div>
            </li>
            <li id="card_6">
                <div class="card">
                    <i class="fa-solid fa-brain" id="icon_6"></i>
                    <i class="fa-solid fa-lightbulb" id="lightbulb"></i>
                    <p class="direction">Защита интеллектуальной собственности</p>
                </div>
            </li>
            <li id="card_7">
                <div class="card">
                    <i class="fa-solid fa-scale-unbalanced" id="icon_7"></i>
                    <p class="direction">Разрешение арбитражных споров</p>
                </div>
            </li>
            <li id="card_8">
                <div class="card">
                    <i class="fa-solid fa-book" id="icon_8"></i>
                    <i class="fa-solid fa-signature" id="icon_sign"></i>
                    <i class="fa-solid fa-pencil" id="icon_pen"></i>
                    <p class="direction">Регистрация юридических лиц</p>
                </div>
            </li>
            <li id="card_9">
                <div class="card">
                    <i class="fa-solid fa-arrows-spin" id="icon_9"></i>
                    <p class="direction">Реорганизация и ликвидацияю юридических лиц</p>
                </div>
            </li>

        </ul>
    </div>
</div>


<div class="cons">
    <div class="wrapper">
        <div class="heading">
            <p id="heading">Наши преимущества</p>
        </div>
        <div class="icons_cards">
            <div class="icons icon_1">
                <div class="contents">
                    <h3>Оперативные консультации</h3>
                    <p>Приступаем к работе в день обращения. Простые
                        вопросы решаем немедленно, по сложным - предоставляем
                        четкие сроки</p>
                </div>
                <div class="icon_info">
                    <i class="fa-solid fa-clock"></i>
                    <p><span>Менее 15 секунд</span>&nbsp;- время ожидания клиента на линии</p>
                </div>
            </div>

            <div class="icons icon_2">
                <div class="contents">
                    <h3>Омниканальность</h3>
                    <p>Ставьте и принимайте задачи удобным
                        способом в зависимости от ситуации</p>
                </div>
                <div class="icon_info">
                    <div class="small_icons">
                        <i class="fa-solid fa-phone"></i>
                        <i class="fa-solid fa-mobile-screen-button"></i>
                        <i class="fa-solid fa-laptop"></i>
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="more_info">
            <div class="block block_1">
                <i class="fa-solid fa-list-check"></i>
                <p>Одновременно решаем несколько ваших задач</p>
            </div>
            <div class="block block_2">
                <i class="fa-solid fa-comment"></i>
                <p>В процессе работы можно задавать вопросы юристу</p>
            </div>
            <div class="block block_3">
                <i class="fa-solid fa-suitcase"></i>
                <p>Все юристы знают нормативные акты, судебную практику и доктрину</p>
            </div>
            <div class="block block_4">
                <i class="fa-solid fa-lock"></i>
                <p>Система внутреннего контроля качества работы юристов</p>
            </div>
            <div class="block block_5">
                <i class="fa-solid fa-user-check"></i>
                <p>Все юристы находятся в штате компании и проходят строгий отбор</p>
            </div>
            <div class="block block_6">
                <i class="fas fa-comments"></i>
                <p>Индивидуальный подход к каждому клиенту и его ситуации</p>
            </div>
            <div class="block block_7">
                <i class="fa-solid fa-user-shield"></i>
                <p>Гарантия конфиденциальности и защиты ваших данных</p>
            </div>
            <div class="block block_8">
<!--                <i class="fa-solid fa-cloud"></i>-->
<!--                <i class="fa-solid fa-globe"></i>-->
<!--                <i class="fa-solid fa-network-wired"></i>-->
<!--                <i class="fas fa-cloud-upload-alt"></i>-->
<!--                <i class="fas fa-robot"></i>-->
                <i class="fa-solid fa-microchip"></i>
                <p>Использование современных технологий для эффективной работы и защиты ваших интересов</p>
            </div>

        </div>
    </div>
</div>

{% endblock %}