{% extends 'main/layout.html' %}

{% block title %}Home{% endblock %}


{% block content %}
<div class="team_container">
    <div class="team_list_container">
        <h1 class="team_header">Наша команда</h1>
        <ul class="team_list">
            {% for worker in stuff_info %}
            <li class="team_item">
                <div class="item">
                    <div class="photo" style="background-image: url('{{worker.photo.url}}')"></div>
                    <div class="worker_info">
                        <h3 class="name">{{worker.name}}</h3>
                        <p class="post">{{worker.post}}</p>
                        <p class="number">{{worker.number}}</p>
                        <p class="mail">
                            <a href="mailto:{{worker.mail}}">
                                {{worker.mail}}
                            </a>
                        </p>
                        {% for p in worker.practice.all %}
                        <p class="practice">
                            {{p}}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>




{% endblock %}