{% extends 'main/layout.html' %}

{% block title %}Home{% endblock %}


{% block content %}
<div class="team_container">
    <div class="team_list_container">
        <h1 class="team_header">Наша команда</h1>
        <ul class="team_list">
            {% for worker in stuff_info %}
            <li class="team_item">
                <div class="item">
                    <a class="worker_link" href="{% url 'worker' name=worker.name %}"><div class="photo" style="background-image: url('{{worker.photo.url}}')"></div></a>
                    <div class="worker_info">
                            <h3 class="name">
                                <a href="{% url 'worker' name=worker.name %}">{{worker.name}}</a>
                            </h3>
                        <p class="post">{{worker.post}}</p>
                        <p class="number">
                            <a href="tel:{{worker.number}}">{{worker.number}}</a>
                        </p>
                        <p class="mail">
                            <a href="mailto:{{worker.mail}}">{{worker.mail}}</a>
                        </p>
                        <div class="worker_practice">
                            {% for p in worker.practice.all %}
                            <p class="practice">
                                {{p}}
                            </p>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>




{% endblock %}