{% extends 'main/layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if not error %}
{% for message in messages %}
<div class="message_container">
    <div class="message">
        <h3>Ваша заявка принята</h3>
        <p class="text">{{message}}</p>
        <button type="submit">ОК</button>
    </div>
</div>
{% endfor %}
{% endif %}

<div class="jobs_container">
    <div class="heading">
        <h1 class="jobs_header">Вакансии</h1>
        <p>Zavr/Specter постоянно находится в поиске самых
            талантливых сотрудников, которые разделяют любовь
            компании к инновациям. Присоединяйтесь к нашей команде.</p>
    </div>
    <div class="jobs_list_wrapper">
        <ul class="cards">
            {% for job in jobs %}
            <li class="job_card">
                <div class="short_view">
                    <div class="name">
                        <h3 class="job_name">
                            {{job.name}}
                        </h3>
                    </div>
                    <div class="short_info">
                        <div class="practice">
                            <p class="header">Практика</p>
                            <p class="practice_label">{{job.practice}}</p>
                        </div>
                        <div class="experience">
                            <p class="header">Опыт</p>
                            <p class="experience_label">{{job.experience}}</p>
                        </div>
                        <div class="city">
                            <p class="header">Город</p>
                            <p class="city_label">{{job.city}}</p>
                        </div>
                    </div>
                    <div class="schedule_button">
                        <p>{{job.schedule}}</p>
                        <div class="button">
                            <input type="checkbox" class="feedback_button" id="apply_job_{{job.id}}">
                            <label for="apply_job_{{job.id}}" class="feedback_button_label">
                                <span>Откликнуться на вакансию</span>
                            </label>
                        </div>
                    </div>
                    <div class="empty"><p>empty</p></div>
                </div>
                <input type="checkbox" class="show_button" id="drop_down_job_{{job.id}}">
                <label class="show" for="drop_down_job_{{job.id}}">
                    <span class="show-text">Подробнее</span>
                    <span class="hide-text">Свернуть</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </label>
<!--                <label class="hide" for="drop_down_job">Свернуть</label>-->

                <div class="long_view">
                    <div class="wrapper">
                        <div class="requirements">
                            <p class="header">Требования</p>
                            {{job.requirements | safe}}
                        </div>
                        <div class="tasks">
                            <p class="header">Задачи</p>
                            {{job.tasks | safe}}
                        </div>
                        <div class="conditions">
                            <p class="header">Условия</p>
                            {{job.conditions | safe}}
                        </div>
                    </div>
<!--                    <div class="button">-->
<!--                        <input type="confirm" id="apply_job_{{job.id}}">-->
<!--                        <label for="apply_job_{{job.id}}">-->
<!--                            <span>Откликнуться на вакансию</span>-->
<!--                        </label>-->
<!--                    </div>-->

                </div>

<!--                <div class="button">-->
<!--                    <input type="confirm" id="apply_job_{{job.id}}">-->
<!--                    <label for="apply_job_{{job.id}}">-->
<!--                        <span>Откликнуться на вакансию</span>-->
<!--                    </label>-->
<!--                </div>-->

            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="form_container">
            <form class="site_form" action="{% url 'work' %}"  method="post">
                {% csrf_token %}
                <div class="form_wrapper">
                    <h3 class="header">Заполните форму для связи</h3>
                    <div class="mail_input">
                        <div class="email">
                            {{ form.email }}
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                    </div>

                    <div class="phone_input">
                        <div class="phone">
                            {{ form.phone }}
                            <i class="fa-solid fa-phone"></i>
                            <p class="code">+7</p>
                        </div>
                    </div>

                    {% if error %}
                    {% for message in messages %}
                    <p  style="color: var(--red-color);" class="error_message"><i class="fa-solid fa-ban"></i>&nbsp;&nbsp;{{message}}</p>
                    {% endfor %}
                    {% endif %}

                    <div class="date_options">
<!--                        <h3>{{ form.preferred_date.label }}</h3>-->
                        <h3>Выберите дату и время</h3>
                        <div class="preferred_date">
                            {{ form.preferred_date }}
                        </div>
                    </div>

                    <div class="time_options">
<!--                        <h3>{{ form.time_slot.label }}</h3>-->
                        <div class="preferred_time">
                            {{ form.time_slot }}
                        </div>
                    </div>

                    <button type="submit">Отправить заявку</button>



                </div>
                <i class="fa-solid fa-xmark close_button"></i>
            </form>
</div>





















{% endblock %}